@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1);
  }
} 

.animate-grow-shrink {
  animation: grow-shrink 1s ease-in-out infinite; 
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
